
html {
    height: 100%;
}

body {
    margin: 0%;
    height: 100%;
    z-index: 1;
}

a {
    color: black;
    text-decoration: none;
}


.container {
    background-color: #99CCFF;
    border: thick solid #808080;
    padding: 20px;
    margin: 20px;
}

.ImageBack1 {
    height: -webkit-fill-available;
    width: 100%;
    background-image: url(/Images/MainBack.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    z-index: 1;
    margin-left: 50%;
    transform: translate(-50%);
}


#HomeClearBox img {
    border: solid black;
    width: 287px;
    margin-left: 83px;
}

#HomeClearBox {
    background: #0000009c;
    margin: 0px 26px;
    margin-top: 61px;
    height: 83%;
    color: white;
    z-index: 2;
}

.HomeLinkButtons {
    background-color: #003466;
    border: none;
    color: white;
    font-size: 43px;
    padding: 4px 17px;
    margin: 0px 84px;
    cursor: pointer;

    -webkit-animation-name: zoomIn;
    -webkit-animation-duration: 2s;
    animation-delay: 0s;
    animation-name: zoomIn;
}

    .HomeLinkButtons:hover {
        box-shadow: 0 0px 23px 0 rgb(59, 98, 137), 0 0px 20px 0 rgba(255, 255, 255, 0.75);
    }


#HomePageMessage {
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
    width: 624px;
    text-align: center;
    font-family: cursive;
    margin-top: 44px;
}

#HomeImageAndMessageBox {
    padding: 73px;
    text-align:center;
}

#HomPageMessageTitle {
    font-size: 69px;
    font-family: sans-serif;
}

#HomePageButtons {
    text-align: center;
}


