@media only screen and (max-width: 1200px) {
    .HomeLinkButtons {
        margin: 0px 1%;
    }

    #HomeImageAndMessageBox {
        text-align: center
    }

    .HomeLinkButtons {
        background-color: #003466;
        border: none;
        color: white;
        font-size: 116px;
        margin: 0px 84px;
        border: solid;
        margin-top: 50px;
        display:inline-block;
    }

    #HomeClearBox {
        height: -webkit-fill-available;
        margin-top: 0px;
        padding-top: 40px;
    }

    #HomeClearBox img {
        margin-top:20px;
        margin-left: 0px;
        width: 545px;
    }

    #HomPageMessageTitle {
        font-size: 98px;
    }

    #HomePageMessage {
        display: inline-block;
        vertical-align: top;
        font-size: 50px;
        text-align: center;
        font-family: cursive;
        display: block;
        width: auto;
    }

    #HomeImageAndMessageBox {
        padding: 0px;
    }

    .DisplayImage{
        width:350px;
        height:350px;
    }
        
    .DisplayName {
        font-size: 47px;
        width: auto;
    }
}
